html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {max-height: 1000000px;}
body {
    margin:0;
    height:100%;
    min-width:320px;
    font: Arial, Helvetica, sans-serif;
    font:15px/20px;
    overflow-y: scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
}
body {
    overflow-x: hidden;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
img {border-style:none;
width: 100%;
height: auto;
}
a {
    text-decoration:none;
    outline:none;
}
a:hover{text-decoration:none;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding:0;
    border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
q {quotes: none;}
q:before,
q:after {
    content: '';
    content: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#landing {
    position: relative;
    overflow: hidden;
}
#header {
    position: relative;
    padding: 10px 0;
}
#header:after{
    content: "";
    clear: both;
    display: block;
}
#landing #logo {
    width: 161px;
    float: left;
}
#logo {
    width:120px;
    float: none;    
    margin: 0 auto;
}
#landing .mainmenu {
    float: right;
    position: relative;
    overflow: hidden;
    padding: 41px 0 0;
}
#landing .mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    font-size: 16px;
}
#landing .mainmenu ul li {
    display: inline-block;
    margin: 0 10px;
}
#landing .mainmenu ul li a {
    display: block;
    color: #3b1b45;
}
#landing .mainmenu ul.signup li a {
    color: #df1763;
    font-weight: bold;
}
#landing .mainmenu ul.signup li:first-child {
    border-right: 1px solid #3b1b45;
    padding: 0 20px 0 0;
}
.landingdetail .col-md-6.col-sm-6 img {
    padding: 0 50px;
}
.landingdet {
    position: relative;
    overflow: hidden;
}
.landingdet h1 {
    font-size: 54px;
    font-weight: bold;
    color: #df1763;
    margin: 57px 0 30px;
}
.landingdet p {
    margin: 0 0 35px;
    font-size: 20px;
    padding: 0 120px 0 0;
}
.landingdet a {
    background: #e01763;
    color: #fff;
    padding: 10px 15px;
    border-radius: 35px;
    width: 150px;
    display: block;
    text-align: center;
}

.search .form-inline {
    position: relative;
    overflow: hidden;
}
.search .form-control {
    background: none;
    border: none;
    width: 100%;
    border: none;
    box-shadow: none;
}
.search .btn.btn-default {
    background: none;
    color: transparent;
    border: none;
    background-image: url(../images/pro2.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 10px;
    width: 26px;
    padding: 0;
}
.headwithlogo {
    position: relative;
    overflow: hidden;
    margin: 0 0 13px;
}
.search {
    position: absolute;
    width: 275px;
    top: 25px;
    right: 0;
}
.form-group {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
#main .mainmenu {
    background: #e51261;
    text-align: center;
}
#main .mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
#main .mainmenu ul li {
    display: inline-block;
    padding: 16px;
    margin: 0 25px;
    position: relative;
}
#main .mainmenu ul li a {
    color: #fff;
    font-size: 15px;
}
.banner{
    position: relative;
    overflow: hidden;
    margin: 13px 0 26px;
}
.bannertext {
    position: absolute;
    top: 23px;
    right: 25px;
    z-index: 9;
    width: 459px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.bannertext h3 {
    font-size: 31px;
    font-weight: bold;
}
.boxes {
    position: relative;
    overflow: hidden;
    margin: 0 0 26px;
}
.boxes .box {
    position: relative;
    overflow: hidden;
}
.boxes .box:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.65;
    z-index: 9;
}
.boxes strong {
    position: absolute;
    top: 40%;
    width: 80%;
    z-index: 99;
    left: 50%;
    text-align: center;
    margin: 0 0 0 -40%;
}
.boxes strong a {
    font-size: 20px;
    color: #fff;
}
.smalltext {
    position: relative;
    overflow: hidden;
    margin: 0 0 26px;
    text-align: center;
    font-size: 16px;
}
.smalltext h3 {
    margin: 15px 0;
    font-size: 33px;
    font-weight: bold;
}
.smalltext img {
    max-width: 100%;
    width: auto;
    margin: 25px 0 12px;
}
.products {
    position: relative;
    overflow: hidden;
    margin: 0 0 26px;
}
.productbox {
    position: relative;
    overflow: hidden;
    margin: 0 0 25px;
}
.new {
    position: absolute;
    top: -13px;
    left: -31px;
    background: #000;
    text-transform: uppercase;
    transform: rotate(-44deg);
    width: 108px;
    text-align: center;
}
.new   a{
    color: #fff;
    display: block;
    padding: 22px 16px 6px 0;
}
.sale {
    position: absolute;
    top: -12px;
    right: -33px;
    text-transform: uppercase;
    transform: rotate(42deg);
    width: 108px;
    text-align: center;
    background: #ea0a60;
}
.sale   a{
    color: #fff;
    display: block;
    padding:22px 0 6px 12px;;
}
.productig {
    padding: 30px 50px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
}
.productDet {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.productDet a strong {
    color: #747474;
    font-size: 18px;
    display: block;
}
.productDet a h3 {
    color: #3d3d3d;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}
.productDet p {
    color: #b6b6b6;
    font-size: 17px;
    font-style: italic;
}
.price a {
    color: #e51261;
    font-size: 18px;
}
#footer {
    position: relative;
    overflow: hidden;
    background: #1b1b1c;
    padding: 50px 50px 0;
}
.footer-menu {
    position: relative;
    overflow: hidden;
    line-height:40px;
    text-transform: uppercase;
}
.footer-menu ul {
    padding: 0;
}
.footer-menu ul li a {
    color: #ccc;
    display: block;
}
.footer-menu ul li a .fa{
    float: right;
    font-weight: bold;
    margin: 10px 7px 0 0;
    font-size: 10px;
}
#footer h2 {
    color: #fff;
    margin: 0 0 18px;
    text-transform: uppercase;
    font-size: 24px;
}
.newsletter {
    position: relative;
    overflow: hidden;
}
.newsletter p {
    color: #6b6b6b;
    font-size: 16px;
    margin: 0 0 26px;
}
.newsletter .form-group {
    border: none;
}
.newsletter .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: none;
    display: block !important;
    margin: 0 0 9px;
}
.newsletter .btn.btn-default {
    background: #e51261;
    padding: 5px 0 5px 35px;
    width: 155px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    border-radius: 3px;
    margin: 8px 0;
    position: relative;
}
.newsbtn {
    position: relative;
    overflow: hidden;
}
.newsbtn:after{
    position: absolute !important;
    top: 7px;
    left: 11px;
    font-family: fontawesome;
    content: '\f0e0';
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}
.singleBook .font-italic.review-time-color {
    margin: 24px 0 7px;
    display: inline-block;
    font-size: 15px;color: #444;
}
.singleBook .Tags {
    font-size: 15px;color: #444;
}
.singleBook .form-horizontal {
    margin: 22px 0 0;
    display: block;
}
.singleBook .my-top-spacing {
    font-size: 16px;
}
.singleBook .form-horizontal .btn.btn-primary.btn-sm {

    border: 1px solid #ea0a60;
    background: transparent;
    color: #ea0a60;

}
.singleBook .my-top-spacing p a {
    color: #b6b6b6;
    font-size: 17px;
    font-style: italic;
}
.social {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.social li {
    width: 55px;
    display: inline-block;
}
.instagram {
    position: relative;
    overflow: hidden;
    padding: 0px 27px 20px;
}
.footerbottombox {
    position: absolute;
    background: #ea0a60;
    text-align: center;
    padding: 20px 90px;
    font-size: 16px;
    bottom: 0;
    left: 15px;
    right: 15px;
}
.footerbottombox a {
    color: #fff;
}
.footerbottombox .fa {
    font-size: 30px;
    margin: 0 0 15px;
}
.footerbottombox p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

    margin: 0;
}
.footerbottom {
    position: relative;
    margin: 135px 0 0;
}
.footerbottombox.center {
    padding: 40px 50px;
}
.register {
    position: relative;
    overflow: hidden;
    margin: 26px 0;
}
.register .form-inline {
    position: relative;
    overflow: hidden;
    box-shadow: 0 -1px 6px 0 rgba(229,18,97,0.28);
    padding: 35px 25px;
    margin: 40px 0 40px;
}
.register .form-group {
    margin: 0 0 18px;
    border: none;
}
.register .form-control {
    width: 100%;
    padding: 21px;
}
.register .btn.btn-default {
    background: #e51261;
    padding: 7px;
    width: 100%;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
}
.register .btn.btn-default:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.products h2 {
    text-align: center;
    margin: 30px 0 50px;
}
.formarea {
    position: relative;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.formarea  h2{
    text-align: center;
    text-transform: uppercase;
}
.register .checkbox {
    display: block;
    margin: 0 0 14px;
    float: left;
}
.register .checkbox input {
    margin: -3px 5px 0 0;
}
.register .btn.btn-link {
    float: right;
    margin: -9px 0 0;
}
.about {
    position: relative;
    overflow: hidden;
    margin: 53px 0 100px;
}
.about .btn-success {
    color: #fff;
    background-color: #e51261;
    border:2px solid #e51261;
    display: block;
    width: 150px;
    margin: 17px 0 0;
}
.about .btn-success:hover {
    color: #e51261;
    background-color: #fff;
    border-color: #e51261;
    transition: all 0.8s ease 0s;
}
.faq {
    position: relative;
    overflow: hidden;
}
.faq .container {
    width: 100%;
}
.faq .formarea{
    width: 100%;
}
.faq .panel-default > .panel-heading {
    color: #fff;
    background-color: #ea0a60;
    border-color: #ea0a60;
}
.tags {
    position: relative;
    overflow: hidden;
    margin: 45px 0;
}
.tags .form-group {
    border-bottom: none;
}
.tags .panel-heading {
    padding: 0 15px;
}
.tags input[type="radio"] {
    margin: -2px 5px 0;
}
.tags input[type="submit"] {
    background: #e51261;
    padding: 7px;
    width: 100%;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
}
.tags input[type="submit"]:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.mygroup .btn-block{
    background: #e51261;
    padding: 7px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
}
.mygroup .btn-block:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.mygroup {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.tags .well {
    margin: 26px 0;
}
.tags .checkbox {
    margin: 23px 0 20px;
}
.addbooks .select2-container {
    width: 100% !important;
}
#main .mainmenu ul.sub-menu {
    position: absolute;
    display: none;
    right: 0;
    top: 54px;
    background: #fff;
    width: 175px;
    z-index: 999;
    border-radius: 0;
    line-height: 3px;
    font-weight: normal;
    box-shadow: 0 6px 12px rgba(229,18,97,0.28);
    border: 1px solid rgba(229,18,97,0.28);
    text-align: left;
}
.have-child-menu:hover ul.sub-menu{
    display: block !important;
}
#main .mainmenu ul.sub-menu li {
    margin: 0;
    display: block;
}
#main .mainmenu ul.sub-menu li:hover{
    background: #e51261;
    transition: all 0.8s ease 0s;
}
#main .mainmenu ul.sub-menu li:hover a{
    color: #fff;
}
#main .mainmenu ul.sub-menu a {
    color: #000;
    text-transform: capitalize;
}
.addbooks {
    position: relative;
    overflow: hidden;
    margin: 50px;
}
.addbooks .form-group {
    width: 100%;
    border-bottom: none;
}
.addbooks .form-horizontal .control-label {
    padding: 7px 0;
}
.addbooks .form-horizontal .btn-primary{
    background: #e51261;
    padding: 7px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
    width: 100px;
}
.addbooks .form-horizontal .btn-primary:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.addbooks .btn.btn-success.btn-lg.btn-block{
    background: #e51261;
    padding: 7px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
    width: 100%;
}
.addbooks .btn.btn-success.btn-lg.btn-block:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.addbooks .panel-default > .panel-heading{
    background: #e51261;
    color: #fff;
}
.myBooks .center-block {
    width: 100px;
    height: 150px;
    margin: 0;
}
.myBooks .btn-sm {
    float: left;
    margin: 0 4px 0;
    border-color: #e51261;
}
.profile {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
}
.profile .btn-sm{
    background: #e51261;
    padding: 7px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 26px;
    width: 150px;
    text-align: center;
}
.profile .btn-sm:hover {
    background: #fff;
    border: 2px solid #e51261;
    color: #e51261;
    transition: all 0.8s ease 0s;
}
.profile .panel-default > .panel-heading {
    color: #fff;
    background-color: #e51261;
    border-color: #ddd;
}
.editprofile {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
}
.editprofile .pull-right.btn-sm.btn-success {
    background: #e51261;
    border-color: #e51261;
    margin: 0 0 5px;
}
.editprofile .form-group {
    border: none;
}
.editprofile .btn-block {
    display: block;
    width: 20%;
    float: right;
    margin: 0 4px;
}
.editprofile .btn-block {
    width: 20%;
    margin: 5px 4px;
}
.searchResult {
    margin: 60px 0;
}
.searchResult .smalltext {
    margin: 0 0 66px;
}
.singleBook {
    margin: 40px 0;
    position: relative;
    overflow: hidden;
}
.singleBook .label-warning,.singleBook .label-info,.singleBook .label-default   {
    background: #e51261;
    padding: 3px;
    width: 100px;
    border: 2px solid #e51261;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    border-radius: 3px;
    margin: 18px 0;
}
.singleBook .label-info strong{
    font-weight: normal;
}
.singleBook .label-warning:hover,.singleBook .label-info:hover,.singleBook .label-default:hover {
    background: #fff !important;
    border: 2px solid #e51261;
    color: #e51261 !important;
    transition: all 0.8s ease 0s;
}

.singleBook input[type="radio"],.singleBook input[type="checkbox"]{
    margin:-4px 0 0;
}
.singleBook .well {
    margin: 0;
    box-shadow: 0 -1px 6px 0 rgba(229,18,97,0.28);
}
.singleBook .form-horizontal .fa.fa-star {
color:#e51261;
}
/* for responsive */
@media only screen and (max-width: 1199px){
    .myBooks .btn-sm {
        float: none;
        margin: 0 4px 2px;
        display: block;
    }
    .myBooks .btn-sm {
        width: 100%;
    }
    .bannertext {
        top: -6px;
    }
    .boxes strong{
        top: 30%;
    }
    .footerbottombox  {
        padding: 20px;
    }
    .footerbottombox.center {
        padding: 37px;
    }
}
@media only screen and (max-width: 1023px){
    .landingdet h1 {
        font-size: 41px;
        margin: 22px 0 ;
    }
    .landingdet p {
        padding: 0;
    }
    .bannertext {
        font-size: 16px;
    }
    .bannertext h3 {
        font-size: 24px;
    }
    .boxes strong {
        top: 19%;
    }
    #footer h2 {
        font-size: 20px;
    }
    .footerbottombox {
        padding: 12px;
    }
    .footerbottombox.center {
        padding: 7px;
    }
    .social li {
        width: 37px;
    }
    #main .mainmenu ul li {
        margin: 0 5px;
    }
    .profile .panel-body span {
        float: left;
        margin: 0 2px 0;
    }
}
@media only screen and (max-width: 767px){
    .profile .panel-body span {
        width: 100% !important;
        margin: 0 2px 5px;
    }
    #main .mainmenu .collapse.in {
        display: block;
        overflow: visible !important;
        position: relative;
        width: 100%;
    }
    #main .mainmenu ul.sub-menu {
        position: relative;
        display: none;
        right: auto;
        top: auto;
        background: transparent;
        width: 100%;
        z-index: 99;
        border-radius: 0;
        line-height: inherit;
        font-weight: bold;
        box-shadow: none;
        border: none;
        text-align: center;
    }
    #main .mainmenu .have-child-menu {
        padding: inherit 0 !important;
    }
    #main .mainmenu ul.sub-menu a {
        color: #fff;
    }
    #landing #logo {
        float: none;
    }
    #landing .mainmenu {
        float: none;
        padding: 0;
    }

    #landing .mainmenu {
        float: none;
        overflow: visible;
        padding: 0;
    }
    .navbar-toggle {
        position: absolute;
        float: none;
        border: 2px solid #e51261;
        top: -72px;
        right: 0;
        z-index: 9999999;
        color: #e51261
    }
    #landing .mainmenu ul{
        width: 100%;
    }
    #landing .mainmenu ul li {
        display: block;
        margin: 0 10px;
        line-height: 32px;
        text-align: center;
        border-bottom: 1px solid #e51261;
    }
    #landing .mainmenu ul.signup li:first-child {
        border-right: none;
        padding: 0;
    }
    .search {
        position: relative;
        width: 275px;
        top: 13px;
        right: auto;
        margin: 0 auto;
    }
    .bannertext {
        font-size:11px !important;
        right: 0;
        width: 100%;
        font-size: 20px;
        text-transform: lowercase;
        top: 3px;
    }
    .bannertext h3 {
        font-size: 13px;
        margin: 0;
    }
    .boxes strong {
        top: 39%;
    }
    .boxes strong br {
        display: none;
    }
    .boxes strong a {
        font-size: 15px;
    }
    .boxes .box {
        margin: 0 0 15px;
    }
    .instagram {
        padding: 20px 0 0;
    }
    .footerbottombox {
        position: relative;
        background: #ea0a60;
        text-align: center;
        font-size: 16px;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .footerbottom {
        margin: 20px 0 0;
    }
    .footerbottombox {
        padding: 12px;
        margin: 0 0 15px;
    }
    #main .navbar-toggle {
        position: relative;
        border: 2px solid #fff;
        top: 0px;
        right: 0;
        z-index: 9999999;
        color: #fff;
        float: right;
    }
    #main .mainmenu ul li {
        display: block;
        padding: 9px;
        margin: 0 21px;
        border-bottom: 1px solid #fff;
    }
    .landingdetail .col-md-6.col-sm-6 img {
        padding: 50px;
    }
    .formarea {
        width: 90%;
    }
    .register .checkbox input {
        margin: 2px 20px 0 -15px;
    }
}